[submodule "submodules/amazinghand_wrapper"]
	path = submodules/amazinghand_wrapper
	url = https://github.com/LV-Robotics-Lab/amazinghand_wrapper.git
[submodule "submodules/xlerobot"]
	path = submodules/xlerobot
	url = https://github.com/Vector-Wangel/XLeRobot.git
